@tailwind base;
@tailwind components;
@tailwind utilities;

svg.fill{
    fill: currentColor;
}

svg.stroke{
    stroke: currentColor;
    fill: none;
}

@layer base {
    body {
        @apply bg-lime-50;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer components {

    .header {
        @apply flex justify-between border-b border-slate-200 px-10 py-8;
    }

    .header__logo {
        @apply flex items-center gap-4;
    }

    .header-logo__img {
        @apply w-10;
    }

    .header-logo__title {
        @apply text-xl font-bold uppercase;
    }

    .header-logo__text {
        @apply text-slate-400;
    }

    .header__list {
        @apply flex items-center gap-10;
    }

    .header-list__item {
        @apply flex items-center gap-3 text-gray-500 cursor-pointer transition duration-200 ease-in-out hover:text-lime-500;
    }

    .card {
        @apply relative bg-white border border-slate-100 rounded-3xl p-8 cursor-pointer transition hover:-translate-y-2 hover:shadow-xl;
    }

    .card__title {
        @apply mt-2;
    }

    .card__favorite {
        @apply absolute top-8 left-8;
    }

    .card-footer {
        @apply flex justify-between
    }

    .card__footer {
        @apply mt-5;
    }

    .card-footer__block {
        @apply flex flex-col;
    }

    .card-footer__text {
        @apply text-slate-400;
    }

    .card-list {
        @apply grid grid-cols-4 gap-5 mt-8;
    }

    .drawer-bg {
        @apply fixed z-10 top-0 left-0 w-full h-full bg-black/70;
    }

    .drawer-cart {
        @apply fixed z-20 top-0 right-0 w-96 h-full bg-white p-8;
    }

    .cart-header {
        @apply flex items-baseline gap-5 mb-8;
    }

    .cart-header__button{
        @apply text-black/30 rotate-180 p-1 transition hover:text-lime-500 hover:-translate-x-1;
    }

    .cart-header__title {
        @apply text-3xl font-bold;
    }

    .cart-item-list {
        @apply flex flex-col gap-4;
    } ;

    .cart-item {
        @apply w-full flex items-center gap-4 border border-slate-200 p-4 rounded-xl;
    }

    .cart-item__img {
        @apply w-16 h-16;
    }

    .cart-item__info {
        @apply flex flex-col flex-grow;
    }

    .cart-item__controls {
        @apply flex justify-between mt-2;
    }

    .cart-item__delete {
        @apply opacity-40 hover:opacity-100 transition;
    }

    .drawer-cart__footer {
        @apply mt-full;
    }

    .drawer-cart-footer {
        @apply flex flex-col gap-4;
    }

    .drawer-cart-footer-item {
        @apply flex gap-2;
    }
    .drawer-cart-footer-item__dots {
        @apply flex-1 border-b border-dashed;
    }

    .drawer-cart-footer__btn {
        @apply bg-lime-500 w-full rounded-xl py-3 text-white mt-5 transition hover:bg-lime-600 active:bg-lime-700 disabled:bg-slate-400;
    }

    .page-head {
        @apply flex items-center justify-between;
    }

    .page-head__title {
        @apply text-3xl font-bold;
    }

    .page-head__controls {
        @apply flex items-center gap-2;
    }

    .page-head__select {
        @apply py-2 px-3 border rounded-md outline-none focus:border-lime-500;
    }

    .page-head__search {
        @apply relative;
    }

    .page-head__icon {
        @apply transition fill-none stroke-gray-200 absolute top-3 left-4;
    }

    .page-head__input {
        @apply border rounded-md transition py-2 pl-11 pr-4 outline-none focus:border-lime-500;
    }
}

@layer utilities {
    .container {
        @apply w-4/5 mx-auto bg-white rounded-xl shadow-xl mt-14;
    }

    .content {
        @apply p-10;
    }

    .mt-full {
        margin-top: 100%;
    }
}
